In [20]:
import datetime as datetime

In [22]:
t_hours_minutes = datetime.time(13, 12)
print(t_hours_minutes)

13:12:00

In [23]:
t_hours_minutes_seconds = datetime.time(13,22,31)
print(t_hours_minutes_seconds)

13:22:31

In [24]:
t_hours_minutes_seconds.hour

13

In [25]:
t_hours_minutes_seconds.microsecond

0

In [26]:
#Create a time object with 5 microseconds and 39 minutes.

t = datetime.time(microsecond=5, minute=29)

t2 = datetime.time(0, 29,0,5)
print(t, t2)

00:29:00.000005 00:29:00.000005

# DATES

In [27]:
datetime.date.today()

datetime.date(2024, 11, 12)

In [28]:
datetime.date.today().year

2024

In [9]:
datetime.date.today().day

12

In [10]:
today = datetime.date.today()
print (f'today: \n\t {today}')
print (f'ctime: \n\t {today.ctime()}')
print (f'tuple: \n\t {today.timetuple()}')
print (f'ordinal (useful for getting no. of days between two dates!): \n\t {today.toordinal()}') # no. of days since 01 Jan year 00
print (f'Year: \n\t {today.year}')
print (f'Mon: \n\t {today.month}')
print (f'Day: \n\t {today.day}')

today:
	 2024-11-12
ctime:
	 Tue Nov 12 00:00:00 2024
tuple:
	 time.struct_time(tm_year=2024, tm_mon=11, tm_mday=12, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=317, tm_isdst=-1)
ordinal (useful for getting no. of days between two dates!):
	 739202
Year:
	 2024
Mon:
	 11
Day:
	 12

In [11]:
#Build  a date object with year 2023 and day 5

d = datetime.datetime(day=5, month = 1, year=2023)
print(d)

2023-01-05 00:00:00

In [12]:
import time

In [13]:
#timedeltas are differences between datetimes 
#so they are used to represent a duration 
today = datetime.date.today()
timedelta_one_day = datetime.timedelta(days = 1)
print(f"Yesterday was {today-timedelta_one_day}")

Yesterday was 2024-11-11

In [14]:
five_weeks_time = today + datetime.timedelta(weeks=5)
(f"IN five weeks it will be {five_weeks_time}")

'IN five weeks it will be 2024-12-17'

In [15]:
print(f"current date and time, in current timezone, is {datetime.datetime.now()}")

current date and time, in current timezone, is 2024-11-12 14:46:19.011650

In [16]:
#Formatting datetime objects

datetime.datetime.now().strftime("%a")

'Tue'

In [17]:
datetime.datetime.strptime("19970826", "%Y%m%d")

datetime.datetime(1997, 8, 26, 0, 0)

In [18]:
day_one = 19970826
today = datetime.datetime.now().strftime("%Y%m%d")
format = "%Y%m%d"

def number_days_alive(day_one, today, format):
    today_fmt = datetime.datetime.strptime(str(today), format)
    day_one_fmt = datetime.datetime.strptime(str(day_one), format)
    days_between = (today_fmt-day_one_fmt)
    return days_between


number_days_alive(day_one, today, format)

datetime.timedelta(days=9940)